@import "./dark.css";
@import "./light.css";
@import "./scrolly.css";

@font-face {
  font-family: "GlitterySnowfall";
  src: url("/css/font/GlitterySnowfall.ttf") format("truetype");
}

:root {
  --bs-primary: #007ced !important; /* TODO: Replace is with your primary color */
  --bs-primary-rgb: 10, 88, 202; /* TODO: This should be an RGB version of --bs-primary hex color */
  --bs-btn-disabled-border-color: #007ced; /* TODO: Replace is with your primary color */
  --bs-link-color: #000000; /* TODO: Replace is with your primary color */
  --bs-nav-pills-link-active-bg: #007ced !important; /* TODO: Replace is with your primary color */
  --bs-link-color: #000000; /* TODO: Replace is with your primary color */
  --bs-link-hover-color: hsl(
    0,
    0%,
    100%
  ); /* TODO: A slightly darker shade of the primary color */
  --bs-blue: #1d3b53;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #d6293e;
  --bs-orange: #fd7e14;
  --bs-yellow: #f7c32e;
  --bs-green: #0cbc87;
  --bs-teal: #20c997;
  --bs-cyan: #17a2b8;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #747579;
  --bs-gray-dark: #0b0a12;
  --bs-gray-100: #f5f5f6;
  --bs-white: #fff;
  --bs-secondary: #85878a;
  --bs-success: #0cbc87;
  --bs-info: #17a2b8;
  --bs-warning: #f7c32e;
  --bs-danger: #d6293e;
  --bs-dark: #0b0a12;
  --bs-orange: #fd7e14;
  --bs-white-rgb: 255, 255, 255;
  --bs-secondary-rgb: 133, 135, 138;
  --bs-success-rgb: 12, 188, 135;
  --bs-info-rgb: 23, 162, 184;
  --bs-warning-rgb: 247, 195, 46;
  --bs-danger-rgb: 214, 41, 62;
  --bs-light-rgb: 245, 245, 246;
  --bs-dark-rgb: 11, 10, 18;
  --bs-orange-rgb: 253, 126, 20;
  --bs-mode-rgb: 255, 255, 255;
  --bs-primary-text: #007ced;
  --bs-secondary-text: #6c757d;
  --bs-success-text: #146c43;
  --bs-info-text: #087990;
  --bs-warning-text: #997404;
  --bs-danger-text: #b02a37;
  --bs-light-text: #6c757d;
  --bs-dark-text: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #e9ecef;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: "DM Sans", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(116, 117, 121, 0.75);
  --bs-secondary-color-rgb: 116, 117, 121;
  --bs-tertiary-color: rgba(116, 117, 121, 0.5);
  --bs-tertiary-color-rgb: 116, 117, 121;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-heading-color: var(--bs-gray-900);
  --bs-link-decoration: none;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.5rem;
  --bs-border-radius-sm: 0.4rem;
  --bs-border-radius-lg: 1rem;
  --bs-border-radius-xl: 1.5rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0px 0px 40px rgba(29, 58, 83, 0.1);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(29, 58, 83, 0.15);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(29, 58, 83, 0.15);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
  --bs-emphasis-color: #000;
  --bs-form-control-bg: var(--bs-body-bg);
  --bs-form-control-disabled-bg: var(--bs-secondary-bg);
  --bs-highlight-bg: #fff3cd;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
  --bs-table-bg: var(--bs-mode) !important;
  --bs-primary: #007ced;
  --bs-primary-rgb: 10, 88, 202;
  --bs-link-color: #000000;
  --bs-nav-pills-link-active-bg: #007ced;
  --bs-link-hover-color: hsl(0, 0%, 100%);
  --bs-gray-dark: #0b0a12;
  --bs-white: #fff;
  --bs-secondary: #85878a;
  --bs-dark: #0b0a12;
  --bs-white-rgb: 255, 255, 255;
  --bs-dark-rgb: 11, 10, 18;
  --bs-primary-text: #007ced;
  --bs-secondary-text: #6c757d;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-body-font-family: "DM Sans", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-emphasis-color: #000;
  --bs-secondary-color: rgba(116, 117, 121, 0.75);
  --bs-body-bg: var(--bs-white);
  --bs-border-width: 1px;
  --bs-border-radius: 0.5rem;
  --bs-box-shadow: 0px 0px 40px rgba(29, 58, 83, 0.1);
  --bs-bgnavbar: #ffffff80;
}

@keyframes wind {
}

#cloud-intro {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(/css/clouds/1500x500.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  animation: wind 20s linear infinite;
}

.alert-primary {
  --bs-alert-color: var(--bs-primary);
  --bs-alert-bg: transparent;
  --bs-alert-border-color: var(--bs-primary);
  --bs-alert-link-color: var(--bs-primary);
}

a {
  color: var(--bs-link-color);
  text-decoration: var(--bs-link-decoration);
}

a:hover {
  color: var(--bs-link-hover-color);
}

.bg-mode {
  background-color: var(--bs-mode) !important;
}

.btn:disabled,
.btn.disabled {
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-link {
  --bs-link-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-active-color: var(--bs-link-hover-color);
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: var(--bs-link-hover-color);
  --bs-btn-active-bg: var(--bs-link-hover-color);
  --bs-btn-active-border-color: var(--bs-link-hover-color);
  --bs-btn-disabled-bg: var(--bs-primary);
  border-radius: 50px;
}

.btn-primary-soft {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}

.btn-primary-soft:hover,
.btn-primary-soft:focus {
  color: white;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-danger:disabled {
  border-color: var(--bs-danger);
}

.nav-pills {
  --bs-nav-pills-link-active-bg: var(--bs-primary);
}

.card {
  --bs-card-spacer-y: 1.25rem;
  --bs-card-spacer-x: 1.25rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: var(--bs-gray-900);
  --bs-card-subtitle-color: ;
  --bs-card-border-width: 0;
  --bs-card-border-color: var(--bs-border-color);
  --bs-card-border-radius: 1rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: 1rem;
  --bs-card-cap-padding-y: 1.25rem;
  --bs-card-cap-padding-x: 1.25rem;
  --bs-card-cap-bg: var(--bs-mode);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-mode);
  --bs-card-img-overlay-padding: 1.25rem;
  --bs-card-group-margin: 0.9375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.card-header {
  font-size: 1.1em;
}

.card-img-wallet:hover {
  opacity: 0.5;
}

.card-img-wallet:active {
  transform: scale(0.8);
}

.cursor-pointer {
  cursor: pointer;
}
/* Hub Feed*/
.card.mb-2 {
  background-color: transparent;
  border-width: 0px !important;
}
/* EmojiPicker.vue + <Picker class="emoji-mart-category" */
.emoji-mart-category {
  color: hsl(305, 100%, 21%);
}
.emoji-mart-static {
  background-color: #ffffff;
}
.emoji-mart-static .emoji-mart-category-label,
.emoji-mart-static .emoji-mart-category-label h3 {
  background-color: #7c0072;
  color: #ffffff;
}

.form-control,
.input-group-text {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.form-control:disabled {
  background-color: var(--bs-form-control-disabled-bg);
  opacity: 1;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: var(--bs-gray-900); */
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: 1px solid var(--bs-gray-300);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 1rem;
  -webkit-transition:
    border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.hover-color:hover {
  color: var(--bs-primary);
}

.hover-underline:hover {
  text-decoration: underline;
}

.link-without-color {
  color: var(--bs-secondary-color);
  text-decoration: none;
}

.list-group-item.active {
  color: var(--bs-primary);
}

.main-containter {
  flex: 0 0 auto;
  width: auto;
}

.muted-text {
  font-size: 14px;
}

.muted-text a {
  text-decoration: none;
}

.nav {
  --bs-link-color: #495057;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--bs-white);
  background-color: var(--bs-nav-pills-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

.navbar {
  --bs-navbar-padding-y: 0rem;
  --bs-navbar-nav-link-padding-x: 0.6rem;
  font-size: 0.85rem;
  font-weight: 0.5rem;
}

.navbar .nav-item {
  margin-right: 0rem;
  margin-left: 0rem;
}

.navbar .navbar-nav .nav-link {
  border-radius: 0.375rem;
}

/* @todo Add your custom navbar background color */

.navbar-bg-custom {
  background-color: var(--bs-bgnavbar);
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
  color: var(--bs-primary);
}
/* Style spécifique pour la nouvelle catégorie SpecialLink dans la barre de navigation */
.navbar .navbar-nav .special-link {
  font-family: "GlitterySnowfall", Arial, sans-serif; /* Même police que les autres éléments de la navbar */
  font-size: 1rem; /* Taille de police standard pour la navbar */
  text-decoration: none; /* Pas de soulignement pour garder la netteté */
  transition: color 0.3s ease; /* Transition douce pour les survols */
  color: var(--bs-primary);
  font-family: "GlitterySnowfall", Arial, sans-serif;
  font-size: 1.9rem;
  margin-right: 20px;
}

/* Special Link */
.navbar .navbar-nav .special-link:hover {
  color: var(--bs-link-hover-color);
  background-color: transparent;
}
.navbar-brand-text {
  color: var(--bs-white);
  font-family: "GlitterySnowfall", Arial, sans-serif;
  font-size: 2rem;
  margin-right: 0px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #ff00001a;
}

.navbar-mobile {
  background: rgba(255, 255, 255, 0.451);
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: 0 !important;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.activity-points-link {
  margin-top: 0;
  margin-bottom: 0;
}
/* @todo Navbar User Profile */
/* Custom styles for Connect Button */
.connect-wallet-button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
  box-shadow: var(--bs-box-shadow);
  position: relative;
  z-index: 1050;
}

.connect-wallet-button:hover {
  background-color: var(--bs-primary-dark);
  transform: translateY(-2px);
  box-shadow: var(--bs-box-shadow-lg);
}

.connect-wallet-button:active {
  transform: translateY(0);
  box-shadow: var(--bs-box-shadow-inset);
}
/* Custom styles for the navigation button */
.filtered-shadow {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 1));
}
.nav-custom-button {
  padding: 4px 12px; /* Uniform padding, corrected from '6x' to '6px' */
  font-size: 12px; /* Standard font size */
  border: 2px solid #000; /* Example border */
  border-radius: 15px; /* Consistent rounded corners */
  background-color: hsla(
    0,
    0%,
    100%,
    0
  ); /* Corrected background transparency */
  color: #000; /* Text color */
  text-decoration: none; /* Remove underline from links */
  display: flex;
  align-items: center; /* Center content within buttons */
  justify-content: center;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s; /* Smooth transition for hover effects */
}

.nav-custom-button:hover,
.nav-custom-button:focus {
  background-color: rebeccapurple; /* Change background to a darker violet on hover/focus */
  color: white; /* Ensure text color remains white on hover/focus */
  border-color: white; /* Ensure border color remains white on hover/focus */
}

.nav-custom-button:disabled,
.nav-custom-button.disabled {
  opacity: 0.5; /* Make the button half transparent when disabled */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content vertically */
  justify-content: center; /* Centers the content horizontally */
  gap: 0px; /* Provides a gap between elements */
}

.profile-image {
  object-fit: cover;
}

.user-name {
  font-weight: bold;
  margin-top: 0rem;
  color: hwb(0 0% 100%);
}
.user-name:hover {
  font-weight: bold;
  margin-top: 0rem;
  color: rgb(77, 0, 57);
}
.user-name a {
  color: inherit;
  text-decoration: none;
}
.user-name a:hover {
  font-weight: bold;
  margin-top: 0rem;
  color: hwb(315 0% 47%);
}
/* END UX */
.navbar-toggler:focus {
  border: 0 !important;
  box-shadow: none !important;
}

.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
}

.nav-pills .nav-link {
  color: var(--bs-body-color);
}

.nav-pills .nav-link.disabled {
  color: var(--bs-nav-link-color);
}

.nav-pills .nav-link:hover {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}

.pfp-sizing {
  padding: calc(var(--bs-gutter-x) * 0.1);
}

.post-sizing {
  padding-right: calc(var(--bs-gutter-x) * 0.4);
}

.quote-reply-to {
  font-size: 0.725rem;
  font-weight: 400;
  font-style: italic;
}

.sidebar-card-body {
  padding-top: 0;
}

.sidebar-profile-image {
  border: 2px solid white;
}

.sidebar-nav {
  min-width: 15vw;
}

.tech-stack {
  max-height: 30px;
}

.Vue-Toastification__toast--info.custom-toast-bg {
  background-color: var(--bs-primary);
}

.Vue-Toastification__toast--warning.custom-toast-bg {
  background-color: #f7c04a;
}

/*

.Vue-Toastification__toast--error.custom-toast-bg {
  background-color: #9F0047;
}

.Vue-Toastification__toast--success.custom-toast-bg {
  background-color: #82A24A;
}

*/

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.wallet-img-wrapper {
  border-width: 2px;
  border-color: var(--bs-modal-bg);
  border-style: solid;
}

.modal-content {
  border-color: var(--bs-modal-bg);
}

/* Desktop only */
@media screen and (min-width: 1000px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .main-containter {
    flex: 1 0 0%;
    width: auto;
    background-color: #2b2b2b78;
  }

  .page-container {
    max-width: 1400px;
  }

  .sidebar-nav {
    width: 300px;
  }
}

/* Mobile only */
@media only screen and (max-width: 767px) {
  .scroll-500 {
    margin-bottom: 500px;
  }
}
.sidebar-card-body {
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar-card-body-img {
  width: 100px;
  height: auto;
  margin: 10px;
}

.speech-bubble {
  position: relative;
  background: var(--bs-primary);
  border-radius: 0.4em;
  padding: 10px;
  color: white;
  text-align: center;
  margin: 10px;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -10px;
  transform: scaleY(-1);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: var(--bs-primary);
  border-left: 0;
  border-top: 0;
}

.create-domain-button {
  display: inline-block;
  background-color: #00aabb;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.create-domain-button:hover {
  background-color: #008899;
  transform: scale(1.05);
}

.notification-color {
  color: #fff !important;
  background-color: #811c1c;
}
